	@media (prefers-reduced-motion: no-preference) {
		.logo {
			fill-opacity: 0;
			stroke-dasharray: 2000;
			stroke-dashoffset: 2000;
			animation: dash 2.5s ease-in forwards;
		}

		@keyframes dash {
			85% {
				fill-opacity: 0;
			}

			100% {
				fill-opacity: 100%;
				stroke-dashoffset: 0;
				stroke-width: 2;
			}
		}
	}